<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  
  <title>File Uploads</title>
</head>
<body>
	<div class="container">
    <form action="/upload" method="POST" enctype="multipart/form-data">
<fieldset>

<!-- Form Name -->
<legend>Image Upload Form</legend>

<!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="img">Select Image</label>
  <div class="col-md-4">
    <input id="img" name="img" class="input-file" type="file">
  </div>
</div>

<br>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="btnupload"></label>
  <div class="col-md-4">
    <button id="btnupload" name="btnupload" class="btn btn-primary">Upload</button>
    <%= typeof msg != 'undefined' ? msg : '' %>
  </div>
</div>

</fieldset>
</form>
 <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img">
</div>
<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>